* {
	font-family: Verdana;
}

body {
	background-color: #EEE;
}

code {
	font-family: monospace;
}

#frame {
	margin: auto;
	width: 90%;
	text-align: left;
	font: 90% Arial;
}

#main_a {
	width: 100%;
	height: 75px;
}

#main_b {
	background-color: #4C4C4C;
	width: 100%;
	height: 5px;
}

#main_c {
	width: 100%; /* Old size: 1000 frame width - 10 left padding - 10 right padding - 1 left border - 1 right border */
}

#main_d {
	border: 1px solid #4C4C4C;
	padding: 0px 30px;
	min-height: 750px;
	background-color: #FFF;
}

.sysmessage {
	text-align: center;
	padding: 5px 0px 5px 0px;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #000;
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

.footer_timestamp {
	text-align: center;
	font-size: 70%;
}

a {
	text-decoration: none;
	color: #00F;
}

.navigation {
	float: right;
	color: #FFF;
	height: 65px;
	margin: 5px;
	text-align: right;

/*
	border: 1px solid #000;
	background-color: #FFF;
	width: 300px;
*/
}

.navigation a {
	color: #FFF;
}

.navigation .devwarning, .navigation .prodwarning {
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.navigation .devwarning {
	color: #f00;
}

.navigation .prodwarning {
	color: #0c0;
}

.navigation .devwarning~.topmenu, .navigation .prodwarning~.topmenu {
	padding-top: 14px;
}

.navigation .topmenu {
	padding-top: 30px;
}

#main_a div.avatar {
	float: right;
	padding: 5px;
}

#main_a div.subavatar {
	position: absolute;
}

#main_a div.subavatar img.subavatar {
	position: relative;
	bottom: 24px;
	left: 40px;
	width: 24px;
	cursor: pointer;
}

#main_a div.subavatar a.inbox {
	display: block;
	position: relative;
	bottom: 24px;
	left: 40px;
	height: 20px;
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fa281a), to(#ae1c12));
	background: -moz-linear-gradient(top, #fa281a, #ae1c12);
	background: linear-gradient(top, #fa281a, #ae1c12);
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0px 6px;
	font-weight: bold;
}

/* .username.me { */
	/* color: #C00; */
	/* font-weight: bold; */
/* } */

.box {
	margin: 5px 0px 5px 0px;
	border: 1px solid #000;
	color: #000;
	background: #fff url(/static/images/corner2.png) no-repeat right bottom;
}

.box .title {
	padding: 2px 2px 2px 5px;
	border-bottom: 1px solid #000;
	background: #000;
	background-repeat: no-repeat;
	background-position: 2px 3px;
}

.box span.boxBody {
	display: block;
	padding: 6px;
	overflow: hidden;
	word-wrap: break-word;
}

.box.collapsible .title {
	background-color: #CCC;
	color: #000;
	cursor: pointer;
}

.box.collapsible span.boxBody {
	display: none;
}

.box.collapsible.expanded .title {
	background-color: #000 !important;
	color: #FFF !important;
}

.box.collapsible.expanded span.boxBody {
	display: block !important;
}

.box.black {
	border-color: #000;
}

.box.black .title {
	background-color: #000;
	color: #FFF;
}

.box.red {
	border-color: #F00;
}

.box.red .title {
	background-color: #F00;
	border-bottom-color: #F00;
	color: #000;
}

.box.yellow {
	border-color: #EE0;
}

.box.yellow .title {
	background-color: #EE0;
	border-bottom-color: #EE0;
	color: #000;
}

.box.green {
	border-color: #0A0;
}

.box.green .title {
	background-color: #0A0;
	border-bottom-color: #0A0;
	color: #000;
}

.box.blue {
	border-color: #0152A1;
}

.box.blue .title {
	background-color: #0152A1;
	border-bottom-color: #0152A1;
	color: #FFF;
}

.box.error .title {
	background-image: url(/static/images/icons/error.png);
	padding-left: 24px;
}

.box.warning .title {
	background-image: url(/static/images/icons/warning.png);
	padding-left: 24px;
}

.box.success .title {
	background-image: url(/static/images/icons/success.png);
	padding-left: 24px;
}

.box.login .title {
	background-image: url(/static/images/icons/login.png);
	padding-left: 24px;
}

.tint {
	margin: 6px;
	padding: 6px;
	border: 1px solid #000;
}

.tint.center {
	text-align: center;
}

.tint.black {
/*
	background-color: #F2DEE8;
	border-color: #630;
*/

	background-color: #000;
	color: #FFF;
	border-color: #AAA;
}

.tint.red {
	background-color: #FCC;
	border-color: #C00;
}

.tint.yellow {
	background-color: #FFC;
	border-color: #FC0;
}

.tint.green {
	background-color: #CFC;
	border-color: #090;
}

.tint.blue {
	background-color: #DEE;
	border-color: #00C;
}

.tint.blood {
	background-color: #F33;
	border-color: #F33;
	font-weight: bold;
}

.tint.grey {
	background-color: #EEE;
	border-color: #666;
}

.rounded {
	-moz-border-radius: 3px;
	border-radius: 3px;
}

table.list {
	padding: 0;
	margin: 0;
	border: 0;
}

table.list td.left {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	vertical-align: top;
}

table.list td.required {
	color: #F00;
}

table.list td.right {
	text-align: left;
}

table.list td.right input.username {
	background: url(/static/images/user-online.png) no-repeat 2px;
	padding-left: 24px;
}

table.list td.right input.password {
	background: url(/static/images/key.png) no-repeat 2px;
	padding-left: 24px;
}

table.list td.right input.code {
	background: url(/static/images/lock.png) no-repeat 2px;
	padding-left: 24px;
}

table.list td.left {
	position: relative;
	top: 2px;
}

table tr.hl_on {
	border: 1px solid #000;
	background-color: #7F7;
	cursor: pointer;
}

img.user, img.project, img.sprint {
	position: relative;
	top: 2px;
	padding-right: 3px;
}

.project-list {
	position: relative;
	margin-left: 30px;
}

.project-list > .buttons {
	position: absolute;
	top: -48px;
	right: 16px;
}

.project-summary {
	border-left: 4px solid #999;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding: 0px 5px 3px 5px;
	margin: 0px 0px 15px 10px;
}

.project-summary.active {
	border-left-color: #A00 !important;
}

.project-summary.test {
	background-color: #333;
}

.project-summary.test > * {
	color: #fff;
}

.project-summary.test a {
	color: #ff0;
}

.project-summary.test .buttons a {
	color: #000;
}

.project-summary .project-name {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

.project-summary .project-members {
	float: right;
	min-width: 120px;
}

.project-summary .project-members .member.scrummaster a {
	color: #f00;
}

.project-summary .project-members .member.inactive a {
	color: #aaa;
}

.project-summary .sprint-summaries {
	/* clear: both; */
	margin: 30px 0px 0px 10px;
}

.project-summary .sprint-summaries .sprint-summary {
}

.project-summary .sprint-summaries .sprint-summary .sprint-time {
	font-size: 80%;
}

.project-summary .project-buttons {
	float: left;
}

.sprint-name.active {
	font-weight: bold;
}

.group-buttons {
	float: right;
	margin-bottom: 15px;
}

.fc-event {
	cursor: pointer !important;
}

#select-members {
	width: 100%;
	padding-right: 5px;
}

.backlog-tabs {
	position: relative;
	margin-bottom: 16px;
}

.backlog-tabs input#search {
	position: absolute;
	top: 8px;
	right: 0px;
	width: 200px;
	background: url(/static/images/search.png) no-repeat 2px;
	padding-left: 24px;
}

#selected-task-box {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	border: 1px solid #000;
	background-color: #ae1c12;
	color: #fff;
	width: 100%;
	padding: 6px;
	z-index: 2;
}

#selected-task-box span {
	padding-right: 20px;
}

#sprint-nav {
	position: relative;
}

#sprint-nav > div {
	position: absolute;
	top: -60px;
	right: 0px;
}

#sprint-nav img {
	width: 8px;
	padding-left: 8px;
}

#filter-assigned .fancy, #filter-status .fancy {
	display: inline-block;
	margin-bottom: 4px;
	word-wrap: normal;
	white-space: nowrap;
}

#filter-assigned .away {
	background-color: #999;
}

#filter-assigned .away:hover {
	color: #fff;
	border: 1px solid #dedede;
}

#filter-assigned .away:active, #filter-assigned .away.selected {
	background-color:#6299c5;
}

#sprint-warnings .header {
	cursor: pointer;
}

#sprint-warnings ul {
	display: none;
}

#assigned-menu.contextMenu li a {
	height: auto;
}

table.tasks td {
	vertical-align: top;
}

table.tasks tr.dateline td {
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}

table.tasks tr.dateline2 td:not(:first-child) {
	font-size: 70%;
	text-align: center;
	white-space: nowrap;
}

table.tasks tr.dateline2 .cancel-search, table.tasks tr.dateline2 .save-search {
	display: none;
	position: relative;
	top: 1px;
	width: 12px;
	border: 0px;
}

table.tasks tr.group td {
	padding-top: 20px;
}

table.tasks tr.group span {
	font-weight: bold;
}

table.tasks tr.group td > img {
	position: relative;
	top: 2px;
	left: -5px;
	cursor: pointer;
}

table.tasks tr.task td {
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: white;
}

table.tasks tr.task:hover td {
	border-color: #bce8f1;
	background-color: #d9edf7;
}

/*
table.tasks tr.task.dragging {
	background-color: rgba(0, 0, 0, .2) !important;
}
*/

table.tasks tr.dirty {
	background-color: rgba(255, 0, 0, .3);
}

table.tasks tr td {
	vertical-align: middle;
}

table.tasks tr.task input {
	width: 90%;
}

table.tasks tr.task td.name,
table.tasks tr.group td:first-child,
table.tasks tr.dateline td:first-child {
	/* width: 40%; */
	padding-right: 10px;
	width: 100%;
}

table.tasks tr.task td.flags {
	text-align: right;
	white-space: nowrap;
}

table.tasks tr.task td.flags * {
	position: relative;
	top: 2px;
}

table.tasks tr.task td.flags span.task-index {
	position: relative;
	top: -4px;
	background-color: #3a87ad;
}

table.tasks tr.task:hover td.flags span.task-index {
	background-color: #2d6987;
}

table.tasks tr.task.changed-today td.flags span.task-index {
	background-color: #468847;
}

table.tasks tr.task.changed-today:hover td.flags span.task-index {
	background-color: #356635;
}

table.tasks tr.task.selected td.flags span.task-index {
	background-color: #b94a48;
}

table.tasks tr.task.selected:hover td.flags span.task-index {
	background-color: #953b39;
}

table.tasks.editable tr.task img.status, table.tasks.editable tr.task img.goal, table.tasks.editable tr.task .assigned {
	cursor: pointer;
}

table.tasks tr.task td.assigned {
	/* width: 10%; */
	white-space: nowrap;
}

table.tasks tr.task td.assigned > img {
	position: relative;
	top: 2px;
	left: 2px;
}

table.tasks tr.task td.assigned span span.username[username*=" "] {
	font-style: italic;
}

table.tasks tr.task td.hours {
	min-width: 80px;
	text-align: center;
}

table.tasks tr.task td.hours > * {
	float: left;
}

table.tasks tr.task td.hours img {
	cursor: pointer;
	display: block;
}

table.tasks tr.task td.hours input {
	width: 32px;
	margin-top: 6px;
}

table.tasks tr td.ereyesterday {
	color: #AAA;
}

table.tasks tr td.yesterday {
	color: #777;
}

table.tasks tr.task td.hours.changed {
	color: #F00;
}

table.tasks tr.task td.ereyesterday.changed {
	color: #FAA;
	font-weight: bold;
}

table.tasks tr.task td.yesterday.changed {
	color: #F77;
	font-weight: bold;
}

table.tasks td.actions {
	width: 10%;
	text-align: left !important;
	white-space: nowrap;
	cursor: pointer;
}

table.tasks tr.task td.actions a img {
	border: 0px;
}

table.tasks tr.task.highlight {
	background-color: #9cf;
}

/*
table.tasks tr.task td.hours img[src="/static/images/arrow-top.png"],
table.tasks tr.task td.hours img[src="/static/images/arrow-up.png"]
{
	position: relative;
	top: 2px;
}

table.tasks tr.task td.hours img[src="/static/images/arrow-bottom.png"],
table.tasks tr.task td.hours img[src="/static/images/arrow-down.png"]
{
	position: relative;
	top: -2px;
}
*/

table.availability tr.dateline td {
	font-weight: bold;
}

table.availability tr td:nth-child(1) {
	padding-right: 20px;
}

table.availability tr.userline td.username {
	white-space: nowrap;
	text-align: right;
}

table.availability tr.userline td input {
	width: 20px;
}

table.availability tr td {
	text-align: center;
	width: 35px;
}

table.availability tr td.spacer {
	width: 50px;
}

table.availability tr td.spacer:nth-last-of-type(2) { /* If the sprint ends on a friday, this matches the last spacer so we can hide it */
	display: none;
}

table.availability tr td.buttons img {
	width: 24px;
	cursor: pointer;
}

table.availability button {
	width: 100%;
	text-align: center;
}

ul#goal-menu {
	width: 350px;
}

div.notes .note .avatar img {
	float: left;
	padding-right: 10px;
}

div.notes .note {
	margin-left: 80px;
	min-height: 80px;
	margin-bottom: 10px;
	background-color: #eee;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.notes .note .avatar {
	position: relative;
}

div.notes .note .avatar img {
	position: absolute;
	left: -80px;
	font-weight: bold;
}

div.notes .note .text {
	text-align: justify;
}

div.notes .note .text > * {
	padding: 5px;
}

div.notes .note .text .title {
	background: #bbb;
	border-bottom: 1px solid #bbb;
}

div.notes .note .text .title button {
	float: right;
	margin-left: 5px;
}

div.notes .note .text .title a.timestamp {
	color: #000;
	font-weight: bold;
}

div.notes .note .text .title .author {
	font-weight: bold;
}

div.notes .new-note {
	display: none;
}

div.notes .new-note .text .body {
	padding: 5px 15px 0px 10px;
}

div.notes .new-note .text hr {
	height: 0px;
	border-width: 0px;
	border-top: 1px solid #aaa;
}

div.notes .new-note .text > button {
	margin: 0px 0px 5px 10px;
	width: 200px;
}

div.notes .new-note .text .title a {
	float: right;
}

div.notes .new-note #preview {
	position: relative;
	top: -10px;
	border: 1px dashed #aaa;
	width: 100%;
	min-height: 100px;
}

.markdown p {
	margin: 0 0 10px 0;
}

.markdown blockquote {
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 5px 10px;
	background-color: #bbb;
}

.markdown pre code {
	display: block;
	padding: 5px;
}

.revision-history img.bullet {
	position: relative;
	top: 3px;
	padding-left: 15px;
}

.revision-history .timestamp {
	padding-right: 10px;
}

.revision-history .hours-up {
	color: #f00;
}

.revision-history .hours-down {
	color: #0a0;
}

#many-body {
	width: 100%;
	height: 400px;
}

#preview {
	border: 1px dashed #ccc;
	padding: 3px;
	margin-bottom: 10px;
}

#new-task-many-buttons {
	width: 100%;
}

#new-task-many-buttons button {
	width: 49%;
}

a h2 {
	color: #000;
}

.user-list {
	position: relative;
	top: -30px;
	left: -20px;
}

.user-list-entry, .admin-list-entry {
	float: left;
	font-weight: bold;
	text-align: center;
	padding: 30px;
}

img.gravatar {
	float: left;
	position: relative;
	top: -10px;
	padding-right: 10px;
}

div.sprint-option {
	cursor: pointer;
	padding: 5px;
	border: 3px solid #fff;
}

table.task-import td.name input {
	width: 400px;
}

table.task-import td.group select {
	max-width: 300px;
}

table.task-import td.assigned > * {
	width: 200px;
}

table.task-import td.hours input {
	width: 32px;
}

#post-status {
	display: none;
}

.project-summary .buttons {
	float: left;
}

button.fancy, a.fancy {
	cursor: pointer;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left :1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

button.fancy>img, a.fancy>img {
	position: relative;
	top: 2px;
	left: -3px;
	border: 0px;
}

button.fancy.mini, a.fancy.mini {
	position: relative;
	top: -1px;
	font-size: 70%;
}

a.fancy {
	color: #000;
	padding: 1px 9px;
}

button.fancy img {
	position: relative;
	top: 3px;
}

a.fancy:hover, button.fancy:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

a.fancy:active, a.fancy.selected {
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#fff;
}

a.fancy.selected {
	font-weight: bold;
}

a.fancy.positive, button.fancy.positive, a.fancy.success, button.fancy.success {
	color: #529214;
}

a.fancy.positive:hover, button.fancy.positive:hover, a.fancy.success:hover, button.fancy.success:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

a.fancy.positive:active, button.fancy.positive:active, a.fancy.success:active, button.fancy.success:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

a.fancy.negative, button.fancy.negative, a.fancy.danger, button.fancy.danger {
	color: #d12f19;
}

a.fancy.negative:hover, button.fancy.negative:hover, a.fancy.danger:hover, button.fancy.danger:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

a.fancy.negative:active, button.fancy.negative:active, a.fancy.danger:active, button.fancy.danger:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

div.clear {
	clear: both;
}

.hide-temp {
	display: none;
}

.bumpdown {
	position: relative;
	top: 3px;
}

/* Trello progress bar */
.task-progress-total {
	background: #DDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #B9B9B9;
	border-bottom-color: #CCC;
	border-top-color: #AAA;
	clear: both;
	height: 10px;
	margin: 0 6px 10px 150px;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
}

.task-progress-total .progress-current {
	background: #3468B2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAfCAYAAADN/hxhAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADZJREFUeNp0xgkGADAQBMFs7uv/350IEdaYpikDEG728faIGomQNQqhajRC1xiEqbEI2+EIMACyIAbU7Y897gAAAABJRU5ErkJggg==) bottom left repeat-x;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #172E4F;
	height: 10px;
	margin: -1px;
	position: relative;
}

.task-progress-total .progress-current-red {
	background-color: #AA4643;
	border: 1px solid #4F172E;
}

.task-progress-total .progress-current-green {
	background-color: #46AA43;
	border: 1px solid #174F2E;
}

.task-progress-total .progress-percentage {
	color: #999;
	font-size: 11px;
	line-height: 10px;
	position: absolute;
	top: -1px;
	left: -140px;
	/* text-align: right; */
	width: 135px;
}

#distribution-title-buttons {
	position: relative;
}

#distribution-title-buttons div {
	position: absolute;
	top: -50px;
	right: 25px;
}

#distribution-range {
	float: left;
}

#distribution-range-slider {
	float: left;
	position: relative;
	top: 1px;
	width: 300px;
	margin: 0 0 30px 50px;
}

#distribution-range-slider .ui-slider-range {
	background: #3468B2;
}

#distribution-range-slider .ui-slider-handle {
	border-color: #174F2E;
}

#distribution-range-slider .ui-state-hover {
	background: #4a95ff;
}

.distribution {
	width: 49%;
	float: left;
	position: relative;
}

.distribution-transfer {
	border: 1px solid #000;
}

.distribution.left {
	margin-right: 10px;
}

.distribution img.user-gravatar {
	cursor: pointer;
	width: 32px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}

.distribution img.user-gravatar:hover, .distribution .selected img.user-gravatar, .distribution img.user-gravatar.overcommitted {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
}

.distribution .selected img.user-gravatar {
	width: 64px;
}

.distribution .info {
	display: none;
}

.distribution .selected > * {
	float: left;
	padding: 0 5px 10px 0;
}

.distribution .selected .username {
	font-weight: bold;
}

.distribution .selected .task-progress-total {
	width: 250px;
	margin-left: 0px;
	margin-top: 5px;
}

.distribution .tasks .group {
	font-weight: bold;
	margin-top: 15px;
}

.distribution .tasks .task {
	font-weight: normal;
	padding-left: 10px;
	cursor: pointer;
}

.distribution .tasks .task.important {
	-webkit-animation-name: pulse-red;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

.distribution .tasks .task.team {
	font-style: italic;
}

img.admin-icon {
	width: 64px;
	border: 0px;
}

div.repl-box {
	float: left;
	width: 49%;
	margin-right: 5px;
	border: 1px solid #000;
}

div.repl-box span.title {
	display: block;
	width: 100%;
	padding: 2px 0px 2px 4px;
	background-color: #000;
	color: #fff;
}

div.repl-box .box-wrapper {
	display: block;
	height: 600px;
	margin: 0px;
	overflow-x: visible;
	overflow-y: scroll;
	word-wrap: break-word;
}

div.repl-box#console pre div.repl-code {}
div.repl-box#console pre div.repl-stdout {
	color: #00f;
}
div.repl-box#console pre div.repl-stderr {
	color: #f00;
}

div.repl-box {
	overflow: hidden;
	width: 49%;
}

/* nth-of-type(4n) is a <div class="clear"> put before each row */

div.repl-box div.elem:nth-of-type(4n+1) {
	width: 20%;
	float: left;
	padding-right: 5px;
}

div.repl-box div.elem:nth-of-type(4n+2) {
	width: 38%;
	float: left;
	padding-right: 5px;
}

div.repl-box div.elem:nth-of-type(4n+3) {
	width: 38%;
	float: left;
}

div.repl-box div.elem.header {
	font-weight: bold;
}

div.repl-box ul {
	margin: 0px;
	-webkit-padding-start: 16px;
}

/*
div.repl-box table thead tr {
	display: block
}

div.repl-box table tbody {
	display: block;
	height: 574px;
	overflow: auto;
	width: 100%
}

div.repl-box table thead th, div.repl-box table tbody td {
	width: 100px;
	word-wrap: break-word;
}

div.repl-box table tbody td + td {
	position: relative;
	padding-left: 20px;
}

*/

div.cron-log {
	margin-top: 10px;
	padding: 5px;
	border: 1px dashed #000;
	overflow: auto;
	word-wrap: wrap;
}

input#input {
	clear: both;
	margin-top: 10px;
	border: 1px solid #000;
	width: 99%;
}

table.granttable td {
	padding-right: 20px;
	text-align: center;
}

table.granttable td:first-child {
	text-align: right;
}

table.granttable button {
	width: 100%;
}

.debugtext {
	-webkit-animation-name: pulse-red;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse-red {
	0% {color: #000;}
	50% {color: #f00;}
	100% {color: #000;}
}

.logentry {
	margin-left: 75px;
}

.logentry > div {
	width: 100%;
}

.logentry > * {
	float: left;
	padding: 0 5px 10px 0;
}

.logentry div.gravatar {
	position: relative;
}

.logentry div.gravatar img.gravatar {
	position: absolute;
	top: 8px;
	left: -75px;
}

.logentry pre {
	word-wrap: break-word;
}

.logentry .label.logtype-admin {
	background-color: #b94a48;
}

.logentry .label.logtype-group {
	background-color: #3a87ad;
}

.logentry .label.logtype-note {
	background-color: #c67605;
}

.logentry .label.logtype-sprint {
	background-color: #333333;
}

.logentry .label.logtype-task {
	background-color: #3a87ad;
}

.logentry .label.logtype-user {
	background-color: #468847
}

textarea.large {
	width: 100%;
	min-height: 100px;
}

div.message {
	margin: 0 0 10px 90px;
	min-height: 62px;
	/* padding: 2px 0px; */
	border-width: 1px 20px 1px 10px;
	border-style: solid;
	border-color: #DDD;
}

div.message.unread {
	border-color: #096;
}

div.message.unread.system {
	border-color: #a00;
}

div.message .avatar {
	position: relative;
}

div.message .avatar img {
	position: absolute;
	top: -1px;
	left: -90px;
}

div.message .title {
	position: relative;
	background: #f3f3f3;
	padding: 4px;
	margin: 0;
}

div.message .title input[type=image] {
	position: absolute;
	top: 3px;
	right: -18px;
}

div.message .timestamp {
	float: right;
}

div.message .body {
	padding: 4px;
}

table.task-edit .task-name {
	font-weight: bold;
}

table.task-edit tr.task-fields td {
	padding: 0 0 20px 20px;
	vertical-align: top;
}

table.task-edit .task-assigned, table.task-edit .task-hours, table.task-edit .task-status {
	white-space: nowrap;
}

table#task-edit-values td.right > * {
	width: 100%;
}

table#task-edit-values td.right button {
	width: 49%;
	float: left;
	margin-right: 2px;
}

#saved-searches {
	position: absolute;
	z-index: 2;
	background-color: #fff;
	color: #000;
	/* width: 300px; */
	/* height: 200px; */
	text-align: left;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #000;
	box-shadow: 3px 3px 2px 1px #ccc;
}

#saved-searches h1 {
	font-size: 10pt;
	font-variant: small-caps;
	border-bottom: 1px solid #000;
	margin: 10px 0px 5px 0px;
}

#saved-searches h1:first-child {
	margin-top: 0px;
}

#saved-searches h1 a.right {
	font-size: 7pt;
	font-variant: normal;
	float: right;
	margin-left: 30px;
	font-weight: normal;
	vertical-align: bottom;
	position: relative;
	top: 2px;
	/* position: absolute; */
	/* top: 0px; */
	/* right: 0px; */
}

#saved-searches a {
	color: #00f;
}

#saved-searches img.gravatar {
	float: right;
	top: 0px;
	right: 0px;
	padding-right: 0px;
}

.contextMenu li.selected {
	font-weight: bold;
}