@width: 400px;

table.list td.right {
	> * {
		width: @width;
	}

	button {
		width: @width / 2;
	}
}

#many-body {
	width: 100%;
	height: 400px;
}

#new-task-many-buttons {
	width: 100%;

	button {
		width: 49%;
	}
}

select#import-source {
	width: @width;
}

table.task-import {
	td.name input {
		width: @width;
	}

	td.group select {
		max-width: 300px;
	}

	td.assigned > * {
		width: @width / 2;
	}

	td.hours input {
		width: 32px;
	}
}
